
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #003366;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #add8e6;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}






div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #003366;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}




:root{
	 --cor-Fundo : rgb(1, 12, 15);
     --cor-hover : rgb(245, 4, 4);
	 --cor-primaria : rgb(231, 241, 246);

}

.dp-menu ul{
    list-style-type: none;
    padding : 0;
}

.dp-menu ul{
    background-color: var(--cor-Fundo);
}

.dp-menu ul li{
	display: inline;
	position: relative;
}

.dp-menu ul li a{
	color: var(--cor-primaria);
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	transition: background .3s;
}

.dp-menu ul li a:hover{
	background-color: var(--cor-hover)
}

.dp-menu ul ul{
    display: none;
	left: 0;
	position: absolute;
}

.dp-menu ul li:hover ul{
	display: block;
}

.dp-menu ul ul{
	width: 150px;
}

.dp-menu ul ul li a{
	display: block;
}

body {
	background-color: #8b0000 
   }


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #003366;
  color: white;
}


input:invalid{
	border-color: red
}

input:valid{
	border-color: green
}

textarea:invalid{
	border-color: red
}

textarea:valid{
	border-color: green
}


textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}



div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
